/* keyframes are used for animating. We can choose different %s in time and then assign css props to them */
/* for animations, it's best to only use OPACITY and TRANSFORM property because most of the browsers are optimised to use these*/
/* we need to specify animation-name and animation-duration in the element on which we want to use the animation */
@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        /* to set it to invisible at first */
        transform: translateX(-10rem);
        /* to start it from 100px left of its actual positon */
    }

    /* 60% {
        transform: rotate(7deg) translateX(10px);
    } */

    80% {
        transform: translateX(1rem);
        /* to move it a bit to the right before it goes back to its actual position at 100% */
    }

    100% {
        opacity: 1;
        /* to set it back to visible */
        transform: translate(0);
        /* to move it back to its actual position */
    }
}

@keyframes moveInFromRight {
    0% {
        opacity: 0;
        /* to set it to invisible at first */
        transform: translateX(10rem);
        /* to start it from 100px right of its actual positon */
    }

    80% {
        transform: translateX(-1rem);
        /* to move it a bit to the left before it goes back to its actual position at 100% */
    }

    100% {
        opacity: 1;
        /* to set it back to visible */
        transform: translate(0);
        /* to move it back to its actual position */
    }
}

@keyframes moveInFromBottom {
    0% {
        opacity: 0;
        /* to set it to invisible at first */
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        /* to set it back to visible */
        transform: translate(0);
        /* to move it back to its actual position */
    }
}